.answerCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 1s;
    width: 20%;
    display: block;
    margin: 20px;
    vertical-align: top;

}

.answerCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.answerName {
    text-align: center;
}

.answerCardImage {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: contain;
}


.hidden {
    opacity: 0;
    transition: 1s;
}