.navigation {
    width: 100%;
    display: inline-block;
}

.navigation>div {
    width: 50%;
    display: inline-block;
}

.nextQuestionDiv {
    text-align: right;
}

button {
    margin: 20px 10px 0px 10px;
}
.quitDiv {
    
}

.descriptionDiv,
.explanationDiv {
    width: 100%;
    text-align: center;

}