.navigation {
    width: 100%;
    display: inline-block;
}

.navigation>div {
    width: 50%;
    display: inline-block;
}

.nextQuestionDiv {
    text-align: right;
}

button {
    margin: 20px 10px 0px 10px;
}

.rightArrow,
.restart,
.homeMenu {
    width: 10%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.quitDivEnd {
    text-align: right;
}

.descriptionDiv,
.explanationDiv {
    width: 100%;
    text-align: center;

}

.divResponses {
    height: 100%;
}

.answerSection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
