.navigation {
    width: 100%;
    display: inline-block;
}

.navigation>div {
    width: 50%;
    display: inline-block;
}

.nextQuestionDiv {
    text-align: right;
}

button {
    margin: 20px 10px 0px 10px;
}

.restart,
.homeMenu {
    width: 35%;
    height:200px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.rightArrow{
    width: 10%;
    height:100px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.quitDivEnd {
    text-align: right;
}

.descriptionDiv,
.explanationDiv {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.divResponses {
    height: 100%;
}

.answerSection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
