.accueilliSelectionDiv {
    display: inline-block;
    width: 100%;
}

.SelectAccueilliTitle {
    text-align: center;
    margin: 5%;
}

.accueilliCard {
    display: inline-block;
    width: 30%;
}

.selectAccueilliConfirmButton {


    position: absolute;
    width: fit-content;
    bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;

}

.confirmAccueilliButton {
    vertical-align: middle;
    font-size: 4em;
    height: auto;
}

.metaCard {
    text-align: center;
}

.littleCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.profileImage {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.radioBtn {
    border: 5px solid white;
    width: 33%;
    text-decoration: none;
    height: 200px;
}

.radioGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
}